.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.input-box {
  display: flex;
  font-size: larger;
}
input {
  margin: 20px;
  padding: 20px;
}
.sign {
  margin: 20px;
  padding: 20px;
}
.calc {
  /* margin: 20px; */
  padding: 20px;
  font-size: 52px;
  /* margin-right: 100px; */
}
button {
  margin: 20px;
  padding: 25px;
  width: 100px;
  background-color: aqua;
  font-size: larger;
  font-weight: 800;
}
.btn {
  margin-left: 10px;
}
@media screen and (max-width: 480px) {
  .input-box {
    display: flex;
    flex-direction: column;
  }
  .btn > button {
    display: block;
  }
}